h1 {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.imageCenter {
    text-align: left;
    margin-top:0px;
    margin-bottom:0px;
    padding-left: 350px;
}